<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MesiboMessenger.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3EA48FA11E38998C00492966</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EA48FBA1E38998D00492966</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EA48FC51E38998D00492966</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
